.detail {
    position: relative;

    border-bottom: 1px #333 dashed;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    
    @media screen and (min-width:$xs){
        width: 540px;
        padding: 20px 50px;
    }
    @media screen and (min-width:$sm){
        width: 720px;
    }
    @media screen and (min-width:$md){
        width: 960px;
    }
}

.detail__close {
    position: absolute;
    top: 20px;
    right: 15px;

    color: #aaa;
    
    font-size: 25px;
    
    cursor: pointer;

    &:hover {
        color: tomato;
    }
}

.detail__container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $xs) {
        flex-direction: row;
    }
}

.detail__itemImgWrap, .detail__itemInfoWrap {
    flex: 0 0 100%;
    padding: 0 10px;
    
    @media screen and (min-width: $xs) {
        flex: 0 0 50%;
    }
}

.detail__itemImgWrap{
    margin-bottom: 20px;
    
    text-align: center;

    @media screen and (min-width: $xs) {
        text-align: right;
    }
}
.detail__itemInfo {
    @media screen and (min-width: $xs) {
        text-align: left;
    }
}

.detail__itemImage {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}


.detail__itemTitle {
    margin-bottom: 10px;

    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
}

.detail__itemDesc {
    font-size: 14px;
    font-weight: 100;
}

.detail__itemInfo {
    margin: 15px 0;

    list-style-type: none;
}

.detail__itemButton {
    border:none;
    border-radius: 20px;
    padding: 5px 10px;
    
    color: #fff;
    background: #444 ;
    
    font-size: 12px;
    
    cursor: pointer;
    outline: none;
    
    &:hover {
        background: #000;
    }

    &[disabled] {
        opacity: 0.2;
        &:hover {
            background: #444;
        }
    }
}