.listing {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
    width: 100%;

    @media screen and (min-width:$xs){
        width: 540px;
    }
    @media screen and (min-width:$sm){
        width: 720px;
    }
    @media screen and (min-width:$md){
        width: 960px;
    }
}

.listing__item {
    flex: 0 0 50%;
    margin-bottom: 10px; 
    padding: 10px;

    &:hover {
        .listing__itemPrice {
            color: #444 !important;
        }
    }

    @media screen and (min-width: $sm) {
        flex: 0 0 25%;
    }

    @media screen and (min-width: $md) {
        flex: 0 0 calc( 100% / 6);
    }
}

.listing__itemImage {
    width: 100%;
    max-width: 250px;
    
    cursor: pointer;
}

.listing__itemPrice {
    margin-bottom: 10px;
}

.listing__itemButton{
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    
    color: #fff;
    background: #444 ;
    
    font-size: 10px;
    
    cursor: pointer;
    outline: none;

    &:hover {
        background: #000;
    }

    &[disabled] {
        opacity: 0.2;
        &:hover {
            background: #444;
        }
    }
}