* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sunflower"; }

.cart {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  background: #222;
  color: #ddd; }
  @media screen and (min-width: 576px) {
    .cart {
      padding: 15px 20px; } }

.cart__quantity, .cart__total {
  margin-left: 15px;
  font-size: 14px; }
  .cart__quantity i, .cart__total i {
    display: inline-block;
    margin-right: 5px; }
  @media screen and (min-width: 576px) {
    .cart__quantity, .cart__total {
      margin-left: 20px;
      font-size: 16px; } }

.cart__button {
  border: 2px solid #ddd;
  border-radius: 20px;
  margin-left: 20px;
  padding: 5px 10px;
  color: #ddd;
  background: transparent;
  font-size: 12px;
  cursor: pointer; }
  .cart__button i {
    font-size: 14px; }
  .cart__button:hover {
    border-color: tomato;
    background: tomato; }
  @media screen and (min-width: 576px) {
    .cart__button {
      font-size: 14px; } }

.listing {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  width: 100%; }
  @media screen and (min-width: 576px) {
    .listing {
      width: 540px; } }
  @media screen and (min-width: 768px) {
    .listing {
      width: 720px; } }
  @media screen and (min-width: 992px) {
    .listing {
      width: 960px; } }

.listing__item {
  flex: 0 0 50%;
  margin-bottom: 10px;
  padding: 10px; }
  .listing__item:hover .listing__itemPrice {
    color: #444 !important; }
  @media screen and (min-width: 768px) {
    .listing__item {
      flex: 0 0 25%; } }
  @media screen and (min-width: 992px) {
    .listing__item {
      flex: 0 0 calc( 100% / 6); } }

.listing__itemImage {
  width: 100%;
  max-width: 250px;
  cursor: pointer; }

.listing__itemPrice {
  margin-bottom: 10px; }

.listing__itemButton {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  color: #fff;
  background: #444;
  font-size: 10px;
  cursor: pointer;
  outline: none; }
  .listing__itemButton:hover {
    background: #000; }
  .listing__itemButton[disabled] {
    opacity: 0.2; }
    .listing__itemButton[disabled]:hover {
      background: #444; }

.detail {
  position: relative;
  border-bottom: 1px #333 dashed;
  margin: 0 auto;
  padding: 20px;
  width: 100%; }
  @media screen and (min-width: 576px) {
    .detail {
      width: 540px;
      padding: 20px 50px; } }
  @media screen and (min-width: 768px) {
    .detail {
      width: 720px; } }
  @media screen and (min-width: 992px) {
    .detail {
      width: 960px; } }

.detail__close {
  position: absolute;
  top: 20px;
  right: 15px;
  color: #aaa;
  font-size: 25px;
  cursor: pointer; }
  .detail__close:hover {
    color: tomato; }

.detail__container {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 576px) {
    .detail__container {
      flex-direction: row; } }

.detail__itemImgWrap, .detail__itemInfoWrap {
  flex: 0 0 100%;
  padding: 0 10px; }
  @media screen and (min-width: 576px) {
    .detail__itemImgWrap, .detail__itemInfoWrap {
      flex: 0 0 50%; } }

.detail__itemImgWrap {
  margin-bottom: 20px;
  text-align: center; }
  @media screen and (min-width: 576px) {
    .detail__itemImgWrap {
      text-align: right; } }

@media screen and (min-width: 576px) {
  .detail__itemInfo {
    text-align: left; } }

.detail__itemImage {
  width: 100%;
  max-width: 200px;
  margin: 0 auto; }

.detail__itemTitle {
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase; }

.detail__itemDesc {
  font-size: 14px;
  font-weight: 100; }

.detail__itemInfo {
  margin: 15px 0;
  list-style-type: none; }

.detail__itemButton {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  color: #fff;
  background: #444;
  font-size: 12px;
  cursor: pointer;
  outline: none; }
  .detail__itemButton:hover {
    background: #000; }
  .detail__itemButton[disabled] {
    opacity: 0.2; }
    .detail__itemButton[disabled]:hover {
      background: #444; }

.error {
  margin: 40px;
  text-align: center; }
  .error i {
    display: block;
    margin: 0 auto 30px;
    color: tomato;
    font-size: 50px; }

.error__text {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase; }

.buffer {
  margin: 40px;
  text-align: center; }
  .buffer i {
    display: block;
    margin: 0 auto 30px;
    color: #ccc;
    font-size: 50px;
    animation: rotate 10s linear infinite; }

.buffer__text {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
