// Reset basic styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sunflower";
}

@import './vars.scss';

@import './components/cart.scss';
@import './components/listing.scss';
@import './components/detail.scss';
@import './components/error.scss';
@import './components/buffer.scss';